[Unit]
Description=ListenBrainz submission client for MPD
Documentation=https://codeberg.org/elomatreb/listenbrainz-mpd
After=mpd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/listenbrainz-mpd

[Install]
WantedBy=mpd.service

