[Unit]
Description=ListenBrainz submission client for MPD
Documentation=https://codeberg.org/elomatreb/listenbrainz-mpd
After=mpd.service

[Service]
Type=simple
ExecStart=/usr/bin/listenbrainz-mpd # Adjust this to the actual path of the binary if necessary

[Install]
WantedBy=mpd.service

